@mixin button {
	border: $button-border-width $button-border-color;
	background-color: $button-color;
	background: $button-color;
	display: inline-block;
	text-decoration: none;
	@if $rounded-corners {
		border-radius: $button-border-radius;
	} @else {
		border-radius: 0;
	}
	@if $enable-transitions {
		transition: $transition;
	}
	padding: $button-padding;
	@include text-settings('button');
	a {
		@include text-settings('button');
	}
	&:hover {
		cursor: pointer;
		border-color: $button-border-color-hover;
		background-color: $button-color-hover;
		background: $button-color-hover;
		@include text-settings('button-hover');
		a {
			@include text-settings('button-hover');
		}
	}
	&:focus {
		outline: none;
	}
}