@mixin fixed-widths {
  width: 100%;
  @include fixed-max-widths;
}

@mixin fixed-widths-wide {
  width: 100%;
  @include fixed-max-widths-wide;
}

@mixin fixed-widths-full {
  width: 100%;
  max-width: 100%;
}

@mixin fixed-max-widths {
  max-width: 90%;
  @media (min-width: $xsmall) {
    max-width: 80%;
  }
  @media (min-width: $small) {
    max-width: 70%;
  }
  @media (min-width: $medium) {
    max-width: $medium * 0.7;
  }
  @media (min-width: $large) {
    max-width: $large * 0.6;
  }
  @media (min-width: $xlarge) {
    max-width: $xlarge * 0.5;
  }
}

@mixin fixed-max-widths-wide {
  max-width: 95%;
  @media (min-width: $xsmall) {
    max-width: 90%;
  }
  @media (min-width: $small) {
    max-width: 80%;
  }
  @media (min-width: $medium) {
    max-width: $medium * 0.85;
  }
  @media (min-width: $large) {
    max-width: $large * 0.75;
  }
  @media (min-width: $xlarge) {
    max-width: $xlarge * 0.65;
  }
}
