$xsmall: 320px;
$small: 599px;
$medium: 1023px;
$large: 1439px;
$xlarge: 1919px;
$breakpoints: (
  xsmall: $xsmall,
  small: $small,
  medium: $medium,
  large: $large,
  xlarge: $xlarge
) !default;

$grid-content-width: true !default;

$mobile_width: 380px;
$tablet_width: 768px;
$desktop_width: 1168px;
$wide_width: 1379px;

@mixin media($res) {
  @if tablet == $res {
    @media only screen and (min-width: $tablet_width) {
      @content;
    }
  }
  @if desktop == $res {
    @media only screen and (min-width: $desktop_width) {
      @content;
    }
  }

  @if wide == $res {
    @media only screen and (min-width: $wide_width) {
      @content;
    }
  }
}
