$grassy-green: #39ab00 !default;
$dark-grey: #444444 !default;
$black: #000000 !default;
$white: #ffffff !default;
$eggshell: #f8f8f8 !default;

$primary-color: $grassy-green !default;

$darken-factor: 5% !default;