$font-elements: (
	':root': text,
	h1: heading,
	h2: heading-2,
	h3: heading-3,
	h4: heading-4,
	h5: heading-5,
	h6: heading-6,
) !default;

// Font Family
$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !default;
$font-family-text: $font-family !default;
$font-family-heading: $font-family !default;
$font-family-heading-2: $font-family-heading !default;
$font-family-heading-3: $font-family-heading !default;
$font-family-heading-4: $font-family-heading !default;
$font-family-heading-5: $font-family-heading !default;
$font-family-heading-6: $font-family-heading !default;
$font-family-button: $font-family !default;
$font-family-link: $font-family !default;
$font-familys: (
	text: $font-family-text,
	heading: $font-family-heading,
	heading-2: $font-family-heading-2,
	heading-3: $font-family-heading-3,
	heading-4: $font-family-heading-4,
	heading-5: $font-family-heading-5,
	heading-6: $font-family-heading-6,
);

// Font Color
$font-color: #565154 !default;
$font-color-text: $font-color !default;
$font-color-heading: $font-color !default;
$font-color-heading-2: $font-color !default;
$font-color-heading-3: $font-color !default;
$font-color-heading-4: $font-color !default;
$font-color-heading-5: $font-color !default;
$font-color-heading-6: $font-color !default;
$font-color-button: $font-color !default;
$font-color-button-hover: darken($font-color-button, 10) !default;
$font-color-link: $font-color !default;
$font-color-link-hover: darken($font-color-link, 10) !default;
$font-color-menu-item: $font-color !default;
$font-color-menu-item-hover: $primary-color !default;
$font-color-menu-item-active: darken($font-color, $darken-factor);
$font-colors: (
	text: $font-color-text,
	heading: $font-color-heading,
	heading-2: $font-color-heading-2,
	heading-3: $font-color-heading-3,
	heading-4: $font-color-heading-4,
	heading-5: $font-color-heading-5,
	heading-6: $font-color-heading-6,
);

// Font Size
$font-size: 18px !default;
$font-size-text: $font-size !default;
$font-size-heading: 2em !default;
$font-size-heading-2: 1.75em !default;
$font-size-heading-3: 1.5em !default;
$font-size-heading-4: 1.5em !default;
$font-size-heading-5: 1.25em !default;
$font-size-heading-6: 1.25em !default;
$font-size-button: $font-size !default;
$font-size-menu-item: $font-size !default;
$font-size-menu-item-active: $font-size !default;
$font-sizes: (
	text: $font-size-text,
	heading: $font-size-heading,
	heading-2: $font-size-heading-2,
	heading-3: $font-size-heading-3,
	heading-4: $font-size-heading-4,
	heading-5: $font-size-heading-5,
	heading-6: $font-size-heading-6,
);

// Font Weight
$font-weight: 500;
$font-weight-text: $font-weight !default;
$font-weight-heading: $font-weight !default;
$font-weight-heading-2: $font-weight-heading !default;
$font-weight-heading-3: $font-weight-heading !default;
$font-weight-heading-4: $font-weight-heading !default;
$font-weight-heading-5: $font-weight-heading !default;
$font-weight-heading-6: $font-weight-heading !default;
$font-weight-button: $font-weight !default;
$font-weight-link: $font-weight !default;
$font-weight-menu-item: $font-weight !default;
$font-weight-menu-item-hover: $font-weight-menu-item !default;
$font-weight-menu-item-active: $font-weight-menu-item !default;
$font-weights: (
	text: $font-weight-text,
	heading: $font-weight-heading,
	heading-2: $font-weight-heading-2,
	heading-3: $font-weight-heading-3,
	heading-4: $font-weight-heading-4,
	heading-5: $font-weight-heading-5,
	heading-6: $font-weight-heading-6,
);

// Font Style
$font-style: normal !default;
$font-style-text: $font-style !default;
$font-style-heading: $font-style !default;
$font-style-heading-2: $font-style-heading !default;
$font-style-heading-3: $font-style-heading !default;
$font-style-heading-4: $font-style-heading !default;
$font-style-heading-5: $font-style-heading !default;
$font-style-heading-6: $font-style-heading !default;
$font-style-button: $font-style !default;
$font-style-link: $font-style !default;
$font-style-menu-item: $font-style !default;
$font-style-menu-item-active: $font-style !default;
$font-styles: (
	text: $font-style-text,
	heading: $font-style-heading,
	heading-2: $font-style-heading-2,
	heading-3: $font-style-heading-3,
	heading-4: $font-style-heading-4,
	heading-5: $font-style-heading-5,
	heading-6: $font-style-heading-6,
);

// Font Margin
$font-margin-factor: 0.5 !default; 
$font-margin: font-margin($font-size) !default;
$font-margin-text: $font-margin !default;
$font-margin-heading: font-margin($font-size-heading) !default;
$font-margin-heading-2: font-margin($font-size-heading-2) !default;
$font-margin-heading-3: font-margin($font-size-heading-3) !default;
$font-margin-heading-4: font-margin($font-size-heading-4) !default;
$font-margin-heading-5: font-margin($font-size-heading-5) !default;
$font-margin-heading-6: font-margin($font-size-heading-6) !default;
$font-margins: (
	heading: $font-margin-heading,
	heading-2: $font-margin-heading-2,
	heading-3: $font-margin-heading-3,
	heading-4: $font-margin-heading-4,
	heading-5: $font-margin-heading-5,
	heading-6: $font-margin-heading-6,
);

// Font Margin Bottom
$font-margin-bottom-factor: 0.5 !default; 
$font-margin-bottom-text: $font-margin-text * $font-margin-bottom-factor !default;
$font-margin-bottom-heading: $font-margin-heading * $font-margin-bottom-factor !default;
$font-margin-bottom-heading-2: $font-margin-heading-2 * $font-margin-bottom-factor !default;
$font-margin-bottom-heading-3: $font-margin-heading-3 * $font-margin-bottom-factor !default;
$font-margin-bottom-heading-4: $font-margin-heading-4 * $font-margin-bottom-factor !default;
$font-margin-bottom-heading-5: $font-margin-heading-5 * $font-margin-bottom-factor !default;
$font-margin-bottom-heading-6: $font-margin-heading-6 * $font-margin-bottom-factor !default;
$font-margins-bottom: (
	heading: $font-margin-bottom-heading,
	heading-2: $font-margin-bottom-heading-2,
	heading-3: $font-margin-bottom-heading-3,
	heading-4: $font-margin-bottom-heading-4,
	heading-5: $font-margin-bottom-heading-5,
	heading-6: $font-margin-bottom-heading-6,
);

// Line Height
$line-height: 1.5 !default;
$line-height-text: $line-height !default;
$line-height-heading: $line-height !default;
$line-height-heading-2: $line-height-heading !default;
$line-height-heading-3: $line-height-heading !default;
$line-height-heading-4: $line-height-heading !default;
$line-height-heading-5: $line-height-heading !default;
$line-height-heading-6: $line-height-heading !default;
$line-heights: (
	text: $line-height-text,
	heading: $line-height-heading,
	heading-2: $line-height-heading-2,
	heading-3: $line-height-heading-3,
	heading-4: $line-height-heading-4,
	heading-5: $line-height-heading-5,
	heading-6: $line-height-heading-6,
);

$font-settings: ( 
	font-family: $font-familys,
	color: $font-colors,
	font-size: $font-sizes,
	font-weight: $font-weights,
	font-style: $font-styles,
	margin-top: $font-margins,
	margin-bottom: $font-margins-bottom,
	line-height: $line-heights,
) !default;