$site-header-height: 80px !default;
$site-header-height-mobile: ($site-header-height * 0.75) !default;
$site-header-shrink: false !default;
$site-header-shrink-factor: 0.2 !default;
$site-header-height-shrink: $site-header-height;
@if $site-header-shrink {
	$site-header-height-shrink: $site-header-height - ($site-header-height * $site-header-shrink-factor);
}
$site-header-logo-height: ($site-header-height * 0.5) !default;
$site-header-logo-height-shrink: ($site-header-height-shrink * 0.5) !default;
$site-header-logo-height-mobile: ($site-header-height-mobile * 0.5) !default;
$site-header-color: $white !default;
$site-header-nav-color: darken($site-header-color, 10) !default;