
@mixin text-settings($name) {
	font-family: map-get($font-familys, $name);
	font-size: map-get($font-sizes, $name);
	font-weight: map-get($font-weights, $name);
	font-style: map-get($font-styles, $name);
	line-height: map-get($line-heights, $name);
	color: map-get($font-colors, $name);
	margin-top: map-get($font-margins, $name);
	margin-bottom: map-get($font-margins, $name);
}